/* .vitepress/theme/custom.css */
  :root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #3eaf7c, #41d1ff);
  }

  :root {
    --vp-c-brand: #3eaf7c;
    --vp-c-brand-light: #3eaf7c;
  }

  /* 左侧sidebar样式 */
.VPSidebarGroup .items{
  padding-left: 14px;
}

.VPSidebarGroup .items .link.active{
  background-color: #d8efe5;
  border-left: 0.20rem solid transparent;
  border-left-color: #3eaf7c;
}

.vp-doc h2:before{
  position: absolute;
  left: -8px;
  display: block;
  height: 1.86rem;
  content: "";
  border-left: 5px solid #3eaf7c;
}
